

@mixin AntecedentesClinicos(){
    .grid_YW50ZWNlZGVudGVzX2Ns7W5pY29zX2hkX19f{
                    
            font-size: 12px;
            padding-top:20px;
            h2{ 
                grid-area: titulo;
                @include MinhaFonte();
                position: relative;
                top:0;
                margin: 0;
                text-align: right;
                padding-right: 0.9vw;
                font-weight: bolder!important;
            }
    
    
    
            .bloco{
            @include MinhaFonte();
            width: 100%;
            
            display: grid;
            grid-template-columns:10vw 6.1vw 6.6vw 3.4vw 5vw 7vw 4.5vw 6.2vw 4.5vw 17vw; /****9 colunas*****/
            grid-template-rows: auto;
            grid-gap: 0.2vw;
                        
            grid-template-areas:
            "titulo Neurologico CardioVascular Renal Endocrino Gastrointestinal Diabetes Hipertensao Alergico   Outros "
            ;
    
        
            label,h1,h2,h3{
                border-left:0px solid $cor_base;
                vertical-align: bottom;
                line-height: 2.4vw;
                padding: 0;
                margin: 0;
                font-size: 0.8vw;
            }

            label:nth-of-type(1){ grid-area: CardioVascular; }
            label:nth-of-type(2){ grid-area: Renal;  }
            label:nth-of-type(3){ grid-area: Diabetes; }
            label:nth-of-type(4){ grid-area: Hipertensao;   }
            label:nth-of-type(5){ grid-area: Alergico;   }
            label:nth-of-type(6){ grid-area: Endocrino;    } 
            label:nth-of-type(7){ grid-area: Gastrointestinal;    }
            label:nth-of-type(8){ grid-area: Outros;   }
            label:nth-of-type(9){ grid-area: Neurologico;     }
            }
        


    }
}