

@mixin Intestinal(){
    .grid_ZXhhbWVfZu1zaWNvX2ludGVzdGluYWw{
        /************************************************************************************************************/
        font-size: 12px;
        padding-top:20px;
        h2{ 
            grid-area: titulo;
            @include MinhaFonte();
            position: relative;
            top:0;
            margin: 0;
            text-align: right;
            padding-right: 0.9vw;
            font-weight: bolder!important;
        }



        .bloco{
        @include MinhaFonte();
        width: 100%;
        
        display: grid;
        grid-template-columns: 9vw 7vw 4vw 7vw 20vw 8.2vw 12vw 8vw ; 
        grid-template-rows: auto; /***************************/
        grid-gap: 0.2vw; /***************************/
                    
        grid-template-areas:
        "titulo  primeiro  segundo  terceiro  quarto  quinto  sexto setimo setimo"
        ;

    
        label,h1,h2,h3{
            border:0px solid $cor_base;
            vertical-align: bottom;
            line-height:  2.5vw;/***************************/
            padding: 0;/***************************/
            margin: 0;/***************************/
            font-size: 0.8vw;/***************************/
        }

        label:nth-of-type(1){ grid-area: primeiro; }
        label:nth-of-type(2){ grid-area: segundo;  }
        label:nth-of-type(3){ grid-area: terceiro; }
        label:nth-of-type(4){ grid-area: quarto;   }
        label:nth-of-type(5){ grid-area: quinto;   }
        label:nth-of-type(6){ grid-area: sexto;    } 
        label:nth-of-type(7){ grid-area: setimo;   }
        label:nth-of-type(8){ grid-area: oitavo;   }
        }
        /************************************************************************************************************/
    }
}