/*$cor_base      :hsl(192, 74%, 20%);*/
* {
  /*color: hsl(198deg 100% 28%);*/
}

.DadosPaciente {
  border: 0px solid red;
  padding: 3px;
  width: 70vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2vw;
}

.DadosPaciente div {
  border: 1px solid rgb(175, 175, 175);
  display: block;
  margin-bottom: 2px;
  padding: 0.3vw;
  font-size: 1vw;
}

.DadosPaciente div b {
  font-size: 18px;
  color: #ff4c05;
  font-size: 1vw;
}

/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
#Botoes {
  width: 70vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 0px solid hsl(197deg, 100%, 21%);
  display: block;
  /*
    display:inline-flex;
    direction: rtl;
    */
  margin-bottom: 1.5vw;
}

#Botoes button {
  background-color: hsl(188deg, 100%, 41%);
  margin-right: 1vw;
  padding: 0.7vw;
  border: none;
  border-radius: 0.6vw;
  border: 0px solid rgb(194, 194, 194);
  font-size: 0.8vw;
  letter-spacing: 0.1vw;
  color: white;
}

#Botoes .fecha {
  display: none;
}

#Botoes .fecha {
  display: none;
}

#Botoes button:hover {
  background-color: #d14315;
}

/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
.ListaSAE {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw;
}

.ListaSAE {
  border-collapse: collapse;
}

.ListaSAE thead td {
  font-weight: bold;
  color: #6b1e00;
}

.ListaSAE thead td,
.ListaSAE tbody td {
  padding-bottom: 0.8vw;
  padding-top: 0.8vw;
  text-align: center;
  font-size: 1vw;
}

.ListaSAE tr:not(.NovaSAE):hover {
  background-color: hsla(198deg, 100%, 41%, 0.05);
}

.NovaSAE {
  /*background-image: linear-gradient(0deg, #0CCBE8, #0094d1);*/
  background-image: linear-gradient(0deg, #9ee4ff, #05b8ff);
}

.NovaSAE td {
  color: white;
}

/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************//*# sourceMappingURL=estilo.css.map */